/*---------- Media Queries ----------*/

/* 992 - 1200 px */
@media screen and (max-width: 1200px) {
    .header {
        padding-bottom: 17px;
    }
    .footer__phone-link {
        margin: 10px auto 0;
    }
    .footer-logo {
        width: 80%;
    }
}

/* 768 - 992 px */
@media screen and (max-width: 992px) {
    .header {
        padding-bottom: 17px;
    }
    .about-offer__title {
        text-align: center;
    }
    .about-offer__chapter {
        margin: 0 auto;
    }
    .about-offer__naviganion {
        justify-content: center;
    }
    .navigation {
        margin-top: 20px;
    }
   .footer-logo {
       margin-top: 45px;
   }
}

/* 576 - 768 px */
@media screen and (max-width: 768px) {
    .navigation {
        justify-content: center;
    }
    .servises-navigation {
        flex-direction: column;
    }
    .servises-link {
        text-align: center;
    }
    .navigation__link {
        width: 100%;
    }
    .footer {
        text-align: center;
        padding: 40px 0;
    }
    .footer__phone-link {
        margin: 35px auto 0;
    }
    .footer-autor__text {
        text-align: left;
    }
    .footer-autor {
        justify-content: center;
        margin: 1em 0;
    }
}

/* 320 - 576 px */
@media screen and (max-width: 576px) {
    
    .navigation {
        flex-direction: column;
    }
    .mission-info__text {
        flex-direction: column;
    }
    .mission__link {
        margin-top: 20px;
    }
    .mission-news__title {
        margin-top: 50px;
    }
    .power__item {
        margin-bottom: 10px;
    }
    .services {
        text-align: center;
    }
    .servises-link {
        text-align: center;
    }
    .footer {
        text-align: center;
        padding: 40px 0;
    }
    .footer-logotip {
        width: 70%;
        margin: 0 auto;
    }
    .footer__phone-link {
        margin: 35px auto 0;
    }
    .footer-autor__text {
        text-align: left;
    }
    .footer-autor {
        justify-content: center;
        margin: 1em 0;
    }
}